let layout inner_html =
  <html>
    <head>
      <link rel="stylesheet" href="/static/chota.min.css">
    </head>
    <body>
      <div class="container">
        <%s! inner_html %>
      </div>
    </body>
  </html>

let post (post : Post.t) =
  layout (
    <a href="/">all posts</a>
    <h1><%s post.title %></h1>
    <img src="/static/<%s post.image %>">
    <div>
      <%s! post.html_body %>
    </div>
  )

let all_posts (posts : Post.t list) =
  layout (
    <h1>All Posts</h1>
    <ul>
      <% posts |> List.iter (fun (p: Post.t) -> %>
      <li><a href="/post/<%s p.slug %>"><%s p.title %></a></li>
      <% ); %>
    </ul>
  )